<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="flagments/common :: head('게시판')"></head>

    <body>
        <nav th:replace="flagments/common :: TopMenu('BOARD')"></nav>

        <div class="container">
            <h1>게시판</h1>
            <div></div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${list}">
                        <td scope="row" th:text="${item.no}"></td>
                        <td> <a th:text="${item.title}" th:href="@{/board/insert(no=${item.no})}"/> </td>
                        <td>Otto</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a type="button" class="btn btn-primary" th:href="@{/board/insert}">쓰기</a>
            </div>
        </div>

        <footer th:replace="flagments/common :: footer('BOARD')"></footer>
    </body>
</html>