<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="flagments/common :: head('회원가입')"></head>

<body class="text-center">
    <form class="form-signin" method="post" th:action="@{/member/register}">
      <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Invalid MemID AND Password
      </div>

      <img class="mb-4" src="https://getbootstrap.kr/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <input type="text" class="form-control" id="username" name="username" placeholder="Account">
      <label for="username" class="sr-only">USER ID</label>

      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label for="password" class="sr-only">USER PW</label>

      <input type="text" class="form-control" id="memNick" name="memNick" placeholder="NickName">
      <label for="memNick" class="sr-only">USER NICK</label>

      <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
    <footer th:replace="flagments/common :: footer('BOARD')"></footer>
</body>
</html>