<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blind.back.blind_back.member.biz.MemberMapper">
    <select id="findByMemId" parameterType="String" resultType="com.blind.back.blind_back.member.vo.MemberVO">
        SELECT  U.MEMPW     AS MEMPW        ,
                U.MEMID     AS MEMID        ,
                R.ROLENAME  AS ROLENAME     ,
                U.ENABLED   AS ENABLED
        FROM TBL_MEMBER AS U
        INNER JOIN TBL_MEMBER_ROLE AS UR ON U.MEMNO = UR.MEMNO
        INNER JOIN TBL_ROLE AS R ON R.ROLENO = UR.ROLENO
        WHERE U.MEMID = #{memId}
    </select>
</mapper>