<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="flagments/common :: head('INDEX')"></head>

  <body>
    <nav th:replace="flagments/common :: TopMenu('INDEX')"></nav>

    <div class="container">
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
    </div><!-- /.container -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
  </body>
</html>